/* -------------------1 ---------------*/
body {

    margin: 0 0 0 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .section-container {
    padding: 20px;
    position: relative;
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px;
    
  }
  
  
  #header {
    position: fixed; /* Fixes the header in place */
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff; /* Background color of the header */
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    padding: 20px 20px; /* Padding for the header */
  }
  
  /* Ensure header content is centered and styled */
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo {
    width: 110px;
    order: 1; 
    
  }
  
  #sidemenu {
    list-style: none;
    display: flex;
    gap: 30px; 
    padding: 0;
    margin: 0;
  }
  
  #sidemenu li {
    display: inline;
    position: relative;
  }
  
  #sidemenu a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding-bottom: 5px; /* Space for the underline */
    display: block; /* Ensure the pseudo-element covers the full width of the link */
  }
  #sidemenu a:hover {
    color: #6D31ED; /* Text color on hover */
  }
  
  #sidemenu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Line at the bottom of the text */
    width: 100%; /* Full width of the link */
    height: 4px; /* Thickness of the line */
    background-color: transparent; /* Initial color of the line */
    transition: width 0.6s ease-in, background-color 0.3s ease-in-out; /* Smooth transitions */
    
  }
  
  #sidemenu a:hover::after {
    background-color: #6D31ED; /* Color of the line on hover */
  }