/* CSS 수정 */
body {
  margin: 0;
  max-width: 100vw;
  font-family: Arial, sans-serif;
  overflow:hidden;
}

.section-container {
  padding: 20px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 110px;
}

#sidemenu {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

#sidemenu li {
  display: inline;
}

#sidemenu a {
  text-decoration: none;
  color: #333;
  padding-bottom: 5px;
  display: block;
}

#sidemenu a:hover {
  color: #6D31ED;
}

#sidemenu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: width 0.6s ease-in, background-color 0.3s ease-in-out;
}

#sidemenu a:hover::after {
  background-color: #6D31ED;
}

#pageContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  justify-content: space-between;
}

#blocklyDiv {
  flex-basis: 40%;
  height: 100%;
  min-width: 300px;
  padding: 20px;
  background-color:#402E7A;
  overflow: auto; /* 추가 */
}
#imageSection {
  flex-basis: 25%;
  padding: 20px;
  overflow: hidden; /* 추가 */
  background-color:  #ffffff;
}

#outputPane {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
  background-color: #f3e6ff; 

}



#output {
  height: 50%;
}


.exercise-section {
  width: 100%;
  overflow: hidden;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.exercise-button {
  flex: 1;
  margin-right: 5px;
  padding: 10px;
  background-color: #f3e6ff;
  border: 3px solid #6D31ED;
  cursor: pointer;
  font-size: 20px;
        
  border-radius: 5px;      

  
  align-items: center;
}

.exercise-button:hover {
  background-color: #6D31ED;
}

.exercise-content {
  display: none; /* 기본적으로 숨김 */
  max-height: 520px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 기능 구현 */
  padding: 10px;
  border: 3px solid #6D31ED;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}

.exercise-content.active {
  display: block;
}

.exercise-item {
  margin-bottom: 20px;
}

.exercise-item img {
  max-width: 100%;
  height: auto;
}


#exerciseTimer, #restTimer {
  text-align: center;
  background-color: #f3e6ff; /* 기존 배경색 유지 */
  border: 8px solid #402E7A; /* 두꺼운 테두리 추가 */
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}

.timer {
  font-weight: bold;    
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin: 20px auto;
}


.timer button {
  background-color: white; /* Green background */
  color: #6D31ED;            /* White text */
  padding: 10px 20px;        /* Padding around the text */
  border: none;              /* No border */
  border-radius: 5px;        /* Rounded corners */
  font-size: 24px;           /* Larger font size for buttons */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.timer button:hover {
  background-color:#6D31ED; /* Darker green on hover */
}

#exerciseSetCounter {
  font-weight: bold;    
  font-size: 24px;
  margin-top: 20px;     
  margin-bottom: 10px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px; 
}

#exerciseTimer .button-container button {
  background-color: white;
  padding: 10px 20px;        
  border: none;           
  border-radius: 5px;    
  font-size: 16px;         
  cursor: pointer;        
  transition: background-color 0.3s;
}

#exerciseTimer .button-container button:hover {
  background-color: #6D31ED; 
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons if needed */
  margin-top: 10px; /* Adjust the top margin if needed */
}

#exerciseTimer button {
  background-color:#6D31ED; /* Green background */
  color: white;              /* White text */
  padding: 10px 20px;        /* Padding around the text */
  border: none;              /* No border */
  border-radius: 5px;        /* Rounded corners */
  font-size: 16px;           /* Font size */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

#exerciseTimer button:hover {
  background-color: #402E7A; /* Darker green on hover */
}


#restTimer {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons if needed */
  margin-top: 10px; /* Adjust the top margin if needed */
}

#restTimer button {
  background-color: #6D31ED; /* Green background */
  color: white;              /* White text */
  padding: 10px 20px;        /* Padding around the text */
  border: none;              /* No border */
  border-radius: 5px;        /* Rounded corners */
  font-size: 16px;           /* Font size */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

#restTimer button:hover {
  background-color: #402E7A;
}

#increaseExerciseMinutes button{
  font-size: 20px;   
}
#exerciseSetCounter {
  font-weight: bold;    
  font-size: 20px;    
  margin-bottom: 20px;  
  align-items: center;
}

#endRoutine {
  background-color: #402E7A;
  color: white;             /* White text */
  padding: 10px 20px;       /* Padding around the text */
  border: none;             /* No border */
  border-radius: 5px;       /* Rounded corners */
  font-size: 16px;          /* Font size */
  cursor: pointer;          /* Pointer cursor on hover */
  margin-top: 150px;         /* Margin at the top for spacing */
  transition: background-color 0.3s; /* Smooth transition for background color */
  align-items: center;
}

#endRoutine:hover {
  background-color:#6D31ED; /* Darker red on hover */
}

.blocklyMainBackground {
  fill: #e3cdf0 !important;
}
.blocklyToolboxContents{
  margin-bottom: 20px;
  gap: 30px; /
}
.blocklyToolboxDiv {
  background-color: white; 

}
.blocklyToolboxDiv .blocklyTreeIcon,
.blocklyToolboxDiv .blocklyToolboxItem {
  background-color: #ffffff; 
}
#toolbox-container {

  display: flex;
  flex-direction: column;
  gap: 50px; 
}

